%div.section.span-15
  %h2 Details
  %h3 Description
  %p
    = repository.description
  %h3 Categories
  %p
    = repository.categories.to_sentence
  %h3 Long Description
  %p
    = repository.long_description
%div.section.span-15
  %h2 Project Needs
  %div.roles
    - repository.desired_roles.each do |role_metadata|
      %div.role.span-15
        %h3
          = role_metadata.name
        %div.requirements
          %div.name.span-2 Language: 
          %div.name.span-13.last #{role_metadata.language}
          %div.name.span-2 Description: 
          %div.name.span-13.last #{role_metadata.description}
%div.section.span-15
  %h2 Team
