= content_for :title, "githacking / #{@repository.owner} / #{@repository.name}"
%p#notice
  = notice
#repository
  %h1.title
    = link_to @repository.owner, @repository.owner_url
    %span
      \/
    = link_to @repository.name, @repository.url
  %hr
  #issues
    %div.span-15.colborder
      %h2.section #{@tag.capitalize} Issues
      = render partial: 'issue', collection: @issues, locals: { repository: @repository }
    %div.span-8.last
      = render :partial => "issue_types", locals: { repository: @repository }