= content_for :title, "githacking / #{@repository.owner} / #{@repository.name}"
%p#notice
  = notice
#repository
  = render :partial => "header", :locals => { :repository => @repository, :context => 'details' }
  %hr
  %div.span-15.colborder
    = render :partial => "details", :locals => { :repository => @repository }
  %div.span-8.last
    = render :partial => "statistics", :locals => { :repository => @repository }