- content_for :javascripts do
  :javascript
    $(document).ready(function() {
      $('#infos').accordion();
    });

%p#notice
  = notice
#repository
  %h1.title
    = link_to @repository.user, @repository.owner_url
    \/
    = link_to @repository.name, @repository.url
  .data
    %strong
      tags: 
    = @repository.tag_list

    #infos

      %h3
        %a{href: '#'}
          What is #{@repository.name}?
      %div
        Repo data here.
        %br
        Repo data here.
        %br
        Repo data here.
        %br
      %h3
        %a{href: '#'}
          Can I help?
      %div
        Metadata needed here.
      %h3
        %a{href: '#'}
          Give me a task!
      %div
        .issues
          %h3.title
            Issues
        - @repository.issues.each do |tag, issues|
          %h5.tag-header
            = tag
          - issues.each do |issue|
            .issue
              .title
                = link_to "[#{issue.number}] #{issue.title}", @repository.url
              .date
                = issue.created_at
              .body
                = issue.body
        
</div>
= link_to 'Edit', edit_repository_path(@repository)
|
= link_to 'Back', repositories_path
