- content_for :javascripts do
  :javascript
    $(document).ready(function() {
      $('#infos').accordion();
      $('#issues').tabs();
    });

%p#notice
  = notice
#repository
  %h1.title
    = link_to @repository.user, @repository.owner_url
    \/
    = link_to @repository.name, @repository.url
  .data
    %strong
      tags: 
    = @repository.tag_list

    #infos

      %h3
        %a{href: '#'}
          What is #{@repository.name}?
      %div
        Repo data here.
        %br
        Repo data here.
        %br
        Repo data here.
        %br
      %h3
        %a{href: '#'}
          Can I help?
      %div
        Metadata needed here.
      %h3
        %a{href: '#'}
          Give me a task!
      %div
        
        #issues
          - if not @repository.issues.empty?
            %ul
              - @repository.issues.keys.each do |tag|
                %li
                  %a{href: "##{tag}-issue"}
                    = Repository::human_tag(tag)
            - @repository.issues.keys.each do |tag|
              %div{id: "#{tag}-issue"}
                - @repository.issues[tag].each do |issue|
                  .issue
                    .title
                      = link_to "[#{issue.number}] #{issue.title}", @repository.url
                    .date
                      = issue.created_at
                    .body
                      = issue.body
          - else
            Currently, there are no issues available.
= link_to 'Edit', edit_repository_path(@repository)
|
= link_to 'Back', repositories_path
