%p#notice
  = notice
#repository
  %h1.title
    = link_to @repository.owner, @repository.owner_url
    %span
      \/
    = link_to @repository.name, @repository.url
  = render :partial => "statistics", :locals => { :repository => @repository }
  = render :partial => "details", :locals => { :repository => @repository }