- content_for :javascripts do
  :javascript
    $(document).ready(function() {
      $('#infos').accordion();
      $('#issues').tabs();
    });

%p#notice
  = notice
#repository
  %h1.title
    = link_to @repository.user, @repository.owner_url
    %span
      \/
    = link_to @repository.name, @repository.url
  .data
    #infos

      %h3
        %a{href: '#'}
          What is #{@repository.name}?
      %div
        %h4
          Description
        %p
          = @repository.description
        %h4
          Categories
        %p
          = @repository.categories.to_sentence
        %h4
          Long Description
        %p
          = @repository.long_description
      %h3
        %a{href: '#'}
          Can You help?
      %div
        %h4
          Roles We're Looking To Fill
        %ul
          - @repository.desired_roles.each do |role|
            %li 
              = role
        %h4
          Skills We're Looking For
        %ul
          - @repository.desired_skills.each do |skill|
            %li 
              = skill
      %h3
        %a{href: '#'}
          Give me a task!
      %div
        
        #issues
          %ul
            - @repository.issues.keys.each do |tag|
              %li
                %a{href: "##{tag}-issue"}
                  = Repository::human_tag(tag)
          - @repository.issues.keys.each do |tag|
            %div{id: "#{tag}-issue"}
              - @repository.issues[tag].each do |issue|
                .issue
                  .title
                    = link_to "[#{issue.number}] #{issue.title}", @repository.url
                  .date
                    = issue.created_at
                  .body
                    = issue.body
= link_to 'Edit', edit_repository_path(@repository)
|
= link_to 'Back', repositories_path
