#footer
  .container
    #footer-container
      #footer-navigation
        = link_to('Home', root_path)
        \/
        = link_to('About', about_path)
        \/
        = link_to('Blog', "http://blog.gethacking.com")
        \/
        = link_to('FAQ', faq_path)
        \/
        = link_to('Terms', terms_path)
        \/
        = link_to('Privacy', privacy_path)
