#footer
  .container
    #footer-container
      #footer-navigation
        = link_to('Home', root_path)
        \/
        = link_to('About', '#')
        \/
        = link_to('Blog', "http://blog.gethacking.com")
        \/
        = link_to('Help', '#')
        \/
        = link_to('Terms', '#')
        \/
        = link_to('Privacy', '#')
