%h2 Public Repositories
%div.repositories
  - repositories.each do |repository|
    %div.repository
      %h3 
        = link_to repository.name, local_repository_path(repository)
      %p #{repository.description}
      %ul
        %li #{repository.watchers} Watcher(s)
        %li #{repository.forks} Fork(s)
        %li #{repository.open_issues} Issue(s)