- content_for :javascripts do
  = javascript_include_tag 'metadata'

#new-metadata-form
  = form_tag user_repository_metadata_path do
    .label
      = label_tag 'metadata[long_description]', 'Long Description'
    .field
      = text_area_tag 'metadata[long_description]'
    .label
      = label_tag 'metadata[categories][]', 'Categories'
    #categories
      .field.category
        = text_field_tag 'metadata[categories][]'
    %h3
      Needs
    .label
      = label_tag 'metadata[needs][roles][]', 'Roles'
    #role-fields
      -# Note that if this html changes, the changes must be reflected
      -# in metadata.js#empty_role_fields for the autofield population
      .field.role
        Name:
        = text_field_tag 'metadata[needs][roles][][role]', nil, class: 'role-role'
        %br
        Language: 
        = text_field_tag 'metadata[needs][roles][][langauge]', nil, class: 'role-language'
        %br
        Description:
        = text_field_tag 'metadata[needs][roles][][description]', nil, class: 'role-description'
    .label
      = label_tag 'metadata[mentions][]', 'Mentions'
    .field
      = text_field_tag 'metadata[mentions][]'
    
  
