!!!
%html
  %head
    %title= yield(:title)
    = stylesheet_link_tag "blueprint/screen", "base", :media => "screen, projection"
    = stylesheet_link_tag "blueprint/print", :media => "print"
    /[if IE]
      = stylesheet_link_tag "blueprint/ie", :media => "screen, projection"
    = csrf_meta_tag
    = javascript_include_tag "http://use.typekit.com/nej5vuh.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js"
    = javascript_include_tag "rails"
    :javascript
      try{Typekit.load();}catch(e){}
    = yield :javascripts
  %body
    #header= render :partial => "shared/header"
    #content= render :partial => "shared/content"
    #footer= render :partial => "shared/footer"
